$green: rgb(236, 244, 222);
$primary: rgb(252, 203, 124);
// $btn-font-size: 40px;
$card-border-width: 0;
$dark: rgb(73, 94, 99);
$btn-font-family: 'licorice', cursive;
// nope vv
// $nav-link-font-family: 'Jomhuria', serif;
// $card-spacer-y: 0.75rem;
// $card-spacer-x: 0.75rem;

// .btn-primary{
//     font-size: 40px;
// }

// .btn-sencondary{
//     font-size: 20px;
// }
.square-small{
    width: 200px;
}


.square{
    aspect-ratio: 1 / 1;
}

.board{
    background-image: url(/images/chalboard_temp.PNG);
    background-size: cover;
    // border-style: dashed;
    // border-width: 0px 0px 3px 0px;
    // border-color: #fff;
}

.board-content{
    border-style: dashed;
    border-color: #fff;
    border-width: 3px 3px 3px 3px;
}

h1 {
    font-family: 'licorice', cursive;
    color: $dark;
}

h2 {
    font-family: 'Jomhuria', serif;
}
$headings-line-height: 80%;


$headings-margin-bottom:0;

h4, .h4 {
    font-family: 'Jomhuria', serif;
    margin-bottom: 0rem;
}

h5 {
    font-family: 'Jomhuria', serif;
}

.green{
    background-color: $green;
}

p{
    // font-family: 'licorice', cursive;
    //font-family: 'roboto', sans;
    font-family: 'Jomhuria', serif;
    font-size: 30px;
    line-height: 80%;
}


.card-text .p{
    font-size: 20px;
}


.front{
    background-image: url(/images/Sandwiches-300x300.png);
    background-size: cover;
    padding-top: 100px;
}

.divided-left{
    border-right: #fff;
    border-right-style: dashed;
    border-width: 3px 3px 3px 3px;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Licorice&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-family-base: "font-family: 'Jomhuria', serif; 'Licorice', cursive; 'Roboto', sans-serif;";